<div id="my-custom-modal" class="modal-backdrop" onkeyup="handleKeyUp(event)">
    <div class="modal-deadzone" onClick="closeModal()">
    </div>
    <div class="modal-content">
        {% if modal_title %}
        <h2>{{ modal_title }}</h2>
        {% endif %}
        {{ content }}
    </div>
</div>
