.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw!important;
    height: 100vh!important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}